/*nav*/
header {
    position: fixed;
    background: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    z-index: 99;
}

.nav-menu-container li {
    margin-left: 15px;
}

.nav-menu-container a {
    padding: 0px 8px;
    color: #222;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-menu-container a:hover {
    color: #4c9aaf;
}


.resume-btn {
    color: #4c9aaf !important; 
    border: 1px solid #4c9aaf;
    background: #fff;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
}

.resume-btn:hover {
    background: #4c9aaf;
    color: #f2f5ff !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}



/*home*/
.home-container {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('img/IMG_0807.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 61px solid #fff;
    text-align: center;
}

.home-container-content {
    top: 40.5vh;
    left: 50%;
    position: absolute;
    width: 360px;
}

.home-container-content h1 {
    left: -50%;
    position: relative;
    text-align: center;
    font-size: 70px;
    color: white;
}

.home-container-content p {
    left: -50%;
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
}


/*about*/
.about-container {
    background-color: #f2f5ff;
}

.about-text {
    padding-top: 105px;
}

.about-img img {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 350px;
    height: auto;
}



/*portfolio*/
.portfolio-data-container, .portfolio-web-container {
    margin: 0 auto;
    width: 60%;
}

.portfolio-text-container {
    text-align: center;
}

.portfolio-text-container p {
    margin-top: 60px;
    font-size: 1.4em;
}

.generic-btn {
    margin-top: 26px;
    margin-bottom: 60px;
    color: #5592a3;
    border: 2px solid #5592a3;
    background: #fff;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    outline: none;
    border-radius: 32px;
}

.generic-btn:hover {
    background: #5592a3;
    color: #f2f5ff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/*connect*/
.contact-container {
    background-color: #f2f5ff;
}

.contact-container h3 {
    padding-top: 40px;
    text-align: center;
}

.socials {
    margin-top: 30px;
    padding-bottom: 45px;
}

.socials a {
    color: black;
    width: auto;
}

/*footer*/
footer {
    text-align: center;
}